<!doctype html>
<html lang="en" data-critters-container>
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'styles.ef46db3751d8e999.css' %}"></head>
<body>
  <app-root></app-root>
<script type="module" src="{% static 'runtime.89bfad0fe920d2c9.js' %}"></script>
<script type="module" src="{% static 'polyfills.987765327f4cfcdc.js' %}"></script>
<script type="module" src="{% static 'main.e1873d55735b6819.js' %}"></script>
</html>
